@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

// fonts
$primary-font:'Poppins', sans-serif;

$bold: 700;
$semi-bold: 500;
$regular:400;


// Colors
$primary-color: #272727 ;
$secondary-color: #fff;
$tertiary-color: #1900FF;

body{
    background: $primary-color;
    margin:0px;
}

.row{
    width: 100%;

    &.nav{
        position: fixed;
        z-index: 9999;
        height: 50px;

        .full-row{
            max-width: 1300px;

            .container{
                padding-top: 0px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content:space-between;
                vertical-align: middle;
                .logo{

                    h2{
                        margin:10px 0 9px;
                        font-size: 25px;
                    }
                }

                nav{
                    width: 320px;
                    float: right;

                    ul{
                        display: flex;
                        justify-content: space-between;
                        width: auto;
                        list-style: none;

                        a{
                            text-decoration: none;
                        }

                        li{
                            margin: 0 10px;
                            font-family: $primary-font;
                            color: $secondary-color;
                            font-weight: $semi-bold;
                            transition: all ease 0.4s;

                            &:hover{
                                color: $tertiary-color;
                            }

                            &:nth-first-child(){
                                margin-left: 0px;
                            }

                            &:nth-last-child(){
                                margin-right: 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    .full-row{
        margin: 0 auto;
        max-width: 1080px;
        padding: 0 35px;

        .container{
            padding-top: 200px;
            display: inline-block;

            .title{
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    height: 160px;
                    width: 70px;
                    background: $tertiary-color;
                    left: -35px;
                    top: 50%;
                    transform: translate(0%, -50%);
                    z-index: 2;
                }
            }
        }
    }
}