.row{
     &.home{
        position: relative;
        height: 100%;
        min-height: 100vh;

        .container{

            .mobile-bg{
                display: none;
            }
            .sub-title{
                display: inline-block;
                position: relative;
                margin-left: 100px;
                margin-top: 10px;

                &::after{
                    content: '';
                    width: 10px;
                    height: 2px;
                    background: $secondary-color;
                    position: absolute;
                    top:50%;
                    transform: translate(0, -50%);
                    right: -20px;
                }
                
                h4{
                    margin:0px;
                    position: relative;

                    &::before, ::after{
                        content: '';
                        width: 10px;
                        height: 2px;
                        background: $secondary-color;
                        position: absolute;
                        top:50%;
                        transform: translate(0, -50%);
                        left: -20px;
                    }
                }
            }
        }

        @media (max-width: $home-lg){
            .container{
                margin-top:400px; 
            }
        }

        @media (max-width: $md){
            .container{
                margin-top:160px; 
            }
        }

        .img{
            height: 100%;
            max-height: 750px;
            position: absolute;
            right: 0;
            top: 90px;
            padding-bottom: 30px;
            img{
                object-fit: cover;
                height: 100%;
            }
        }

        @media (max-width: $md){
            .img{
                display: none;
            }

            .container{
                .title{
                    margin-top:-200px;
                    
                    &::before{
                        height: 90px;
                    }
                }
                .sub-title{
                    margin-left: 20px;
                }
                .mobile-bg{
                    display: inline-block;
                    height: 600px;
                    margin: 0 auto;
                    width: 100%;
                    text-align: center;
                    img{
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}