.row{
    &.nav{
        position: fixed;
        z-index: 9999;
        height: 57px;

        &::before{
            content: '';
            height: 57px;
            position: absolute;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            top: 0;
            left: 0;
        }

        .full-row{
            max-width: 1300px;
            padding: 0 35px 0 60px;

            .container{
                margin-top: 0px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content:space-between;
                vertical-align: middle;
                .logo{
                    width: 300px;
                    display: block;
                    a{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        width: 100%;
                    }
                    
                    img{
                        height: 35px;
                        object-fit: contain;
                    }
                    h2{
                        margin:10px 0 9px;
                        font-size: 25px;
                        position: relative;

                        &::before{
                            content: '';
                            width: 2px;
                            background: $secondary-color;
                            height: 30px;
                            left: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                            position: absolute;
                        }
                    }
                }

                .menu{
                    width: 320px;
                    float: right;
                    padding:10px 0;
                    box-sizing: border-box;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;


                    .menu-item{
                        margin: 0 10px;
                        font-family: $primary-font;
                        color: $secondary-color;
                        font-weight: $semi-bold;
                        transition: all ease 0.4s;
                        text-transform: $transform;

                        &.selected{
                            position: relative;
                            &::after{
                                content: '';
                                height: 3px;
                                background-color: $tertiary-color;
                                width: 100%;
                                position: absolute;
                                bottom: -5px;
                                left: 0;
                                transform: translateX(0);
                            }
                        }

                        &:nth-first-child(){
                            margin-left: 0px;
                        }

                        &:nth-last-child(){
                            margin-right: 0px;
                        }

                        &:hover{
                            color: $tertiary-color;
                        }
                    }
                }
            }
        }
    }
}