.row{
    &.project{
        .container{
            .text-container{
                padding: 15px;
                box-sizing: border-box;
                margin-top: 88px;

                .project-sum{
                    display: inline-block;
                    width: 100%;
                }
                .project-content{

                }
            }
        }
    }
}